.table-row:after {
  clear: both;
  content: "";
  display: table;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.AddRowButton {
  width: 34px;
  heigh: 34px;
}

.table1 {
  width: 75%;
  margin: auto;
  //margin-top: 50px;
  margin-left: 5%;
}

.scenario_select {
  margin-left: 4%;
  margin-top: 20px;
}

h3 {
  margin-left: 10%;
  margin-top: 20px;
}

#adsense {
  right: 0px;
  position: fixed;
  text-align: center;
  top: 20px;
  width: 15%;
}
