.table-row:after {
  clear: both;
  content: "";
  display: table;
}

.cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.AddRowButton {
  width: 34px;
  heigh: 34px;
}

.table1 {
  width: 80%;
  margin: auto;
  //margin-top: 50px;
}

h3 {
  margin-left: 10%;
  margin-top: 20px;
}
